/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/DeepPurple-Amber.css";

body {
  font-family: Arial;
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

button{
    font-family: Arial;
    font-weight: normal;
}

